<hmtl>
  <head>
    <title>Collegio Clubs</title>
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/clubs.css">


    <script type="text/javascript" src="/scripts/jquery.min.js" defer></script>
  </head>
  <body>
    <div id="header">
      <img src="/generic_logo.png">
      <h1 class="headerText">All Clubs from MSOE</h1>
      <img src="/college_logo.png">
    </div>
    <div id="navBar">
      <a id="homeLink" href="/home.html">Home</a>
      <a id="clubsLink" href="/clubs.html">Clubs</a>
      <a href="/search.html">Find a Club</a>
      <a id="aboutUsLink" href="/about.html">About Us</a>
    </div>
    <div class="clubList">
      <a href="/clubs/robotics_home.html">
        <div class="club">
            <img src="/clubs/robotics.png">
            <div class="desc">
              <h2>Robotics Club</h2>
              <span>Desc of robotics ...</span>
          </div>
        </div>
      </a>

      <a href="/clubs/fishing_home.html">
        <div class="club">
            <img src="/clubs/fishing.webp">
            <div class="desc">
              <h2>Fishing Club</h2>
              <span>Desc of fishing club ...</span>
          </div>
        </div>
      </a>

      <a href="/clubs/sse_home.html">
        <div class="club">
            <img src="/clubs/sse.png">
            <div class="desc">
              <h2>Society of Software Engineering</h2>
              <span>Desc of SSE ...</span>
          </div>
        </div>
      </a>

      <a href="/clubs/gambling/gambling_home.html">
        <div class="club">
            <img src="/clubs/gambling/gambling.jfif">
            <div class="desc">
              <h2>Gambling and Compulsions Club</h2>
              <span>Desc of gambling club ...</span>
          </div>
        </div>
      </a>
	        <a href="/clubs/fakeclub1.html">
        <div class="club">
          <img src="/clubs/fakeclub1.png">
          <div class="desc">
            <h2>Ping Pong Club</h2>
            <span>The club for people who love to play ping pong! Both competitive and casual players are welcome!</span>
          </div>
        </div>
      </a>

      <a href="/clubs/fakeclub2.html">
        <div class="club">
          <img src="/clubs/fakeclub2.png">
          <div class="desc">
            <h2>Bowling Club</h2>
            <span>The club for people who love to play bowl! Both competitive and casual players are welcome!</span>
          </div>
        </div>
      </a>
      <a href="/clubs/fakeclub3.html">
        <div class="club">
          <img src="/clubs/fakeclub3.png">
          <div class="desc">
            <h2>Billiards Club</h2>
            <span>The club for people who love to play billiards! Both competitive and casual players are welcome!</span>
          </div>
        </div>
      </a>
    </div>
  </body>
</hmtl>