<hmtl>
  <head>
    <title>Collegio Search</title>
    <link rel="stylesheet" href="/styles/shared.css">

    <script type="text/javascript" src="/scripts/jquery.min.js" defer></script>
  </head>
  <body>
    <div id="header">
      <img src="/generic_logo.png">
      <h1 class="headerText">Search for Clubs</h1>
      <img src="/college_logo.png">
    </div>
    <div id="navBar">
      <a id="homeLink" href="/home.html">Home</a>
      <a id="clubsLink" href="/clubs.html">Clubs</a>
      <a href="/search.html">Find a Club</a>
      <a id="aboutUsLink" href="/about.html">About Us</a>
    </div>
  </body>
</hmtl>