<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="club.css">
  <title>Title</title>
</head>
<body>
<div id="fakeclubdiv">
  <img id="sse" src="fakeclub1.png" alt="Not Found">
</div>
<div style="background-color: black">
  <h1 id="club_header" style="color: white">Welcome to the Ping Pong Club!</h1>
</div>
<div id="layout">
  <div id="links" class="pageLayout">
    <p id="linksText">Club Links</p>
    <button>Subscribe</button>
    <button>About Us</button>
    <button>Events</button>
  </div>
  <div id="centerPage" class="pageLayout">
    <p>The club for people who love to play ping pong! Both competitive and casual players are welcome!</p>
  </div>
  <div id="ads" class="pageLayout">
    <p>ads</p>
  </div>
</div>
</body>
</html>