<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="club.css">
    <title>Title</title>
</head>
<body>
<div id="fishdiv">
    <img id="fish" src="fishing.webp" alt="Not Found">
</div>
<div style="background-color: black">
    <h1 id="club_header" style="color: white">Welcome to the Fishing Team</h1>
</div>
<div id="layout">
    <div id="links" class="pageLayout">
        <p id="linksText">Club Links</p>
        <button>Subscribe</button>
        <button>About Us</button>
        <button>Events</button>
    </div>
    <div id="centerPage" class="pageLayout">
        <p>The goal of the MSOE Fishing Team is to promote the sport of fishing, both casually and competitively.
            The team attends fishing tournaments, expositions, and trips as well as hosting our own tournaments
            to help accomplish this goal. Members of the team will be permitted to fish both MLF and Bass Master
            tournaments, as well as use any and all team equipment.</p>
    </div>
    <div id="ads" class="pageLayout">
        <p>ads</p>
    </div>
</div>
</body>
</html>