<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="club.css">
    <title>Title</title>
</head>
<body>
<div id="roboticsdiv">
    <img id="robotics" src="robotics.png" alt="Not Found">
</div>
<div style="background-color: black">
    <h1 id="club_header" style="color: white">Welcome to the Robotics Club</h1>
</div>
<div id="layout">
    <div id="links" class="pageLayout">
        <p id="linksText">Club Links</p>
        <button>Subscribe</button>
        <button>About Us</button>
        <button>Events</button>
    </div>
    <div id="centerPage" class="pageLayout">
        <p>MSOE Robotics serves as a hub for students who are interested in robotics at MSOE. Combining professional opportunities, 
            competitive project teams, and volunteering events, we aim to help students find their passion in robotics and provide
            plenty of opportunities for them to learn. We partner with various FIRST Programs in the area to support the robotics
            ecosystem in Milwaukee, giving students an opportunity to mentor and volunteer in-need teams in the area. Competitive
            teams allow students to expand on their technical abilities and compete against other universities in multi-disciplinary
            events.</p>
    </div>
    <div id="ads" class="pageLayout">
        <p>ads</p>
    </div>
</div>
</body>
</html>