<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="club.css">
    <title>Title</title>
</head>
<body>
<div id="ssediv">
    <img id="sse" src="sse.svg" alt="Not Found">
</div>
<div style="background-color: black">
    <h1 id="club_header" style="color: white">Welcome to the Society of Software Engineers</h1>
</div>
<div id="layout">
    <div id="links" class="pageLayout">
        <p id="linksText">Club Links</p>
        <button>Subscribe</button>
        <button>About Us</button>
        <button>Events</button>
    </div>
    <div id="centerPage" class="pageLayout">
        <p>MSOE's Society of Software Engineers is a student run professional organization that strives to empower Software Engineers
            and all people who love to code for a better future in the industry. We are a club for anyone majoring in, interested in,
            or just curious about Software Engineering. Through collaboration, workshops, technical discussions and networking events,
            SSE strengthens student's technical, networking and soft skills. SSE also hosts a myriad of social events to support and
            retain students within our specialty. With constant community outreach, SSE ensures that relationships are being built to
            keep students current and strong in the fast moving tech world.</p>
    </div>
    <div id="ads" class="pageLayout">
        <p>ads</p>
    </div>
</div>
</body>
</html>