.searchDiv {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
  min-height: 50px;

  background-color: lightgray;
  border: 2px solid black;
}

.searchDiv span {
  font-size: larger;
  margin-right: 10px;
}

.infoText {
  margin-top: 60px;
  margin-left: 120px;
}